@page "/Products"
@inject IProductService ProductsServices

<div class="container">
    <div class="row">
        <div class="col-6 md">
            <a class="btn btn-success btn-lg" href="/ProductForm/@(NewProductID)&true" @onclick="GetNewID">
                <i class="bi bi-plus-circle"> Add Product</i>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Image</td>
                        <td>
                            <a class="btn btn-info me-4" href="ProductDetails/@product.ID">
                                <i class="bi bi-info-lg"></i>
                            </a>
                            <a class="btn btn-warning" href="ProductForm/@(product.ID)&false">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <a href="#" class="btn btn-danger delete-btn">
                                <i class="bi bi-trash3-fill"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
