@page "/Products"
@inject IProductService ProductsServices

<div class="container">
    <div class="row">
        <div class="col-6 md">
            <a class="btn btn-success btn-lg" href="/ProductForm/@(NewProductID)&true" @onclick="GetNewID">
                <i class="bi bi-plus-circle"> Add Product</i>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Image</td>
                        <td>
                            <a class="btn btn-info me-4" href="ProductDetails/@product.ID">
                                <i class="bi bi-info-lg"></i>
                            </a>
                            <a class="btn btn-warning" href="ProductForm/@(product.ID)&false">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                            <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#ConfirmModal" @onclick="() => GetProductNameThatWillBeDeleted(product.ID)">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="ConfirmModal" tabindex="-1" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ConfirmModalLabel">Confirm Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are You Sure to Delete (@ProductNameToBeDeleted) Product
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="DeleteProduct">Confirm</button>
            </div>
        </div>
    </div>
</div>